<div class="container-fluid p-0">
    <div class="row">
        <div class="col-sm-3 header  p-0" style="background-color: #D9D9D9; ">
    
        </div>
        
        <div class="col-sm-8 sideNav2  container ">
            <div class="container"  >
                <div class="mt-5 mb-2 p-2">
                    <div class="row justify-content-start">
                        <div class="col-sm-8 m-0">
                            <h2 class="Title m-0">Editar [Designação da Escola]</h2>
                        </div>                    
                    </div>     
                    
                    <div class="row  mt-4" >   
                        <table class="table">
                        <thead class="table-secondary ">
                            <tr>
                                <th>Designação</th>
                                <th>Funcionais</th>
                                <th>Não Funcionais</th>
                                <th>Número Total</th>                                
                            </tr>
                        </thead>
                        <tbody class="table-list">
                            <tr>
                                <td>Salas de aulas teroricas</td>
                                <td>
                                    <div class="input-group">    
                                        <input type="number" class="form-control "  id="numberInput" value="0" min="0">    
                                    </div>
                                </td>
                                <td>
                                    <div class="input-group">    
                                        <input type="number" class="form-control" id="numberInput" value="0" min="0" >    
                                    </div>
                                </td>
                                <td>
                                    <div class="input-group">    
                                        <input type="number" class="form-control" id="numberInput" value="0" min="0" >    
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>Salas de Informática</td>
                                <td>
                                    <div class="input-group">    
                                        <input type="number" class="form-control" id="numberInput" value="0" min="0" >    
                                    </div>
                                </td>
                                <td>
                                    <div class="input-group">    
                                        <input type="number" class="form-control" id="numberInput" value="0" min="0" >    
                                    </div
                                ></td>
                                <td>
                                    <div class="input-group">    
                                        <input type="number" class="form-control" id="numberInput" value="0" min="0" >    
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>Laboratórios de Automação</td>
                                <td>
                                    <div class="input-group">    
                                        <input type="number" class="form-control" id="numberInput" value="0" min="0" >    
                                    </div>
                                </td>
                                <td>
                                    <div class="input-group">    
                                        <input type="number" class="form-control" id="numberInput" value="0" min="0" >    
                                    </div>
                                </td>
                                <td>
                                    <div class="input-group">    
                                        <input type="number" class="form-control" id="numberInput" value="0" min="0" >    
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>Laboratórios de Biologia</td>
                                <td>
                                    <div class="input-group">    
                                        <input type="number" class="form-control" id="numberInput" value="0" min="0" >    
                                    </div>
                                </td>
                                <td>
                                    <div class="input-group">    
                                        <input type="number" class="form-control" id="numberInput" value="0" min="0" >    
                                    </div>
                                </td>
                                <td>
                                    <div class="input-group">    
                                        <input type="number" class="form-control" id="numberInput" value="0" min="0" >    
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>Laboratórios de CAD</td>
                                <td>
                                    <div class="input-group">    
                                        <input type="number" class="form-control" id="numberInput" value="0" min="0" >    
                                    </div>
                                </td>
                                <td>
                                    <div class="input-group">    
                                        <input type="number" class="form-control" id="numberInput" value="0" min="0" >    
                                    </div>
                                </td>
                                <td>
                                    <div class="input-group">    
                                        <input type="number" class="form-control" id="numberInput" value="0" min="0" >    
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>Laboratórios de CNC</td>
                                <td>
                                    <div class="input-group">    
                                        <input type="number" class="form-control" id="numberInput" value="0" min="0" >    
                                    </div>
                                </td>
                                <td>
                                    <div class="input-group">    
                                        <input type="number" class="form-control" id="numberInput" value="0" min="0" >    
                                    </div>
                                </td>
                                <td>
                                    <div class="input-group">    
                                        <input type="number" class="form-control" id="numberInput" value="0" min="0" >    
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>Laboratórios de Electrónica</td>
                                <td>
                                    <div class="input-group">    
                                        <input type="number" class="form-control" id="numberInput" value="0" min="0" >    
                                    </div>
                                </td>
                                <td>
                                    <div class="input-group">    
                                        <input type="number" class="form-control" id="numberInput" value="0" min="0" >    
                                    </div>
                                </td>
                                <td>
                                    <div class="input-group">    
                                        <input type="number" class="form-control" id="numberInput" value="0" min="0" >    
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>Laboratórios de Energias Renováveis</td>
                                <td>
                                    <div class="input-group">    
                                        <input type="number" class="form-control" id="numberInput" value="0" min="0" >    
                                    </div>
                                </td>
                                <td>
                                    <div class="input-group">    
                                        <input type="number" class="form-control" id="numberInput" value="0" min="0" >    
                                    </div>
                                </td>
                                <td>
                                    <div class="input-group">    
                                        <input type="number" class="form-control" id="numberInput" value="0" min="0" >    
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>Laboratórios de Física</td>
                                <td>
                                    <div class="input-group">    
                                        <input type="number" class="form-control" id="numberInput" value="0" min="0" >    
                                    </div>
                                </td>
                                <td>
                                    <div class="input-group">    
                                        <input type="number" class="form-control" id="numberInput" value="0" min="0" >    
                                    </div>
                                </td>
                                <td>
                                    <div class="input-group">    
                                        <input type="number" class="form-control" id="numberInput" value="0" min="0" >    
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>Laboratórios de Frio e Climatização</td>
                                <td>
                                    <div class="input-group">    
                                        <input type="number" class="form-control" id="numberInput" value="0" min="0" >    
                                    </div>
                                </td>
                                <td>
                                    <div class="input-group">    
                                        <input type="number" class="form-control" id="numberInput" value="0" min="0" >    
                                    </div>
                                </td>
                                <td>
                                    <div class="input-group">    
                                        <input type="number" class="form-control" id="numberInput" value="0" min="0" >    
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>Laboratórios de Instalações Eléctricas</td>
                                <td>
                                    <div class="input-group">    
                                        <input type="number" class="form-control" id="numberInput" value="0" min="0" >    
                                    </div>
                                </td>
                                <td>
                                    <div class="input-group">    
                                        <input type="number" class="form-control" id="numberInput" value="0" min="0" >    
                                    </div>
                                </td>
                                <td>
                                    <div class="input-group">    
                                        <input type="number" class="form-control" id="numberInput" value="0" min="0" >    
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>Laboratórios de Máquinas Eléctricas</td>
                                <td>
                                    <div class="input-group">    
                                        <input type="number" class="form-control" id="numberInput" value="0" min="0" >    
                                    </div>
                                </td>
                                <td>
                                    <div class="input-group">    
                                        <input type="number" class="form-control" id="numberInput" value="0" min="0" >    
                                    </div>
                                </td>
                                <td>
                                    <div class="input-group">    
                                        <input type="number" class="form-control" id="numberInput" value="0" min="0" >    
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>Laboratórios de Metalomecânica</td>
                                <td>
                                    <div class="input-group">    
                                        <input type="number" class="form-control" id="numberInput" value="0" min="0" >    
                                    </div>
                                </td>
                                <td>
                                    <div class="input-group">    
                                        <input type="number" class="form-control" id="numberInput" value="0" min="0" >    
                                    </div>
                                </td>
                                <td>
                                    <div class="input-group">    
                                        <input type="number" class="form-control" id="numberInput" value="0" min="0" >    
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>Laboratórios de Química</td>
                                <td>
                                    <div class="input-group">    
                                        <input type="number" class="form-control" id="numberInput" value="0" min="0" >    
                                    </div>
                                </td>
                                <td>
                                    <div class="input-group">    
                                        <input type="number" class="form-control" id="numberInput" value="0" min="0" >    
                                    </div>
                                </td>
                                <td>
                                    <div class="input-group">    
                                        <input type="number" class="form-control" id="numberInput" value="0" min="0" >    
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>Laboratórios de Telecomunicações</td>
                                <td>
                                    <div class="input-group">    
                                        <input type="number" class="form-control" id="numberInput" value="0" min="0" >    
                                    </div>
                                </td>
                                <td>
                                    <div class="input-group">    
                                        <input type="number" class="form-control" id="numberInput" value="0" min="0" >    
                                    </div>
                                </td>
                                <td>
                                    <div class="input-group">    
                                        <input type="number" class="form-control" id="numberInput" value="0" min="0" >    
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>Oficinas de Construções Mecânicas</td>
                                <td>
                                    <div class="input-group">    
                                        <input type="number" class="form-control" id="numberInput" value="0" min="0" >    
                                    </div>
                                </td>
                                <td>
                                    <div class="input-group">    
                                        <input type="number" class="form-control" id="numberInput" value="0" min="0" >    
                                    </div>
                                </td>
                                <td>
                                    <div class="input-group">    
                                        <input type="number" class="form-control" id="numberInput" value="0" min="0" >    
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>Oficinas de Máquinas e Motores</td>
                                <td>
                                    <div class="input-group">    
                                        <input type="number" class="form-control" id="numberInput" value="0" min="0" >    
                                    </div>
                                </td>
                                <td>
                                    <div class="input-group">    
                                        <input type="number" class="form-control" id="numberInput" value="0" min="0" >    
                                    </div>
                                </td>
                                <td>
                                    <div class="input-group">    
                                        <input type="number" class="form-control" id="numberInput" value="0" min="0" >    
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>Oficinas de Soldadura</td>
                                <td>
                                    <div class="input-group">    
                                        <input type="number" class="form-control" id="numberInput" value="0" min="0" >    
                                    </div>
                                </td>
                                <td>
                                    <div class="input-group">    
                                        <input type="number" class="form-control" id="numberInput" value="0" min="0" >    
                                    </div>
                                </td>
                                <td>
                                    <div class="input-group ">    
                                        <input type="number" class="form-control" id="numberInput" value="0" min="0" >    
                                    </div>
                                </td>
                            </tr>
                    
                        </tbody>
                        </table>
                    </div>                    
                    
                    <div class="row justify-content-end mt-2 ">
                        <button type="button" class="btnUpdate">Atuazlizar</button>
                    </div>
                    
                </div>                
            </div>
        </div>
    </div> 
</div>
